/* styles.css */
.row-enter {
    opacity: 0.01;
    transform: scale(0.9);
  }
  .row-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 500ms ease-in, transform 500ms ease-in;
  }
  .row-exit {
    opacity: 1;
    transform: scale(1);
  }
  .row-exit-active {
    opacity: 0.01;
    transform: scale(0.9);
    transition: opacity 500ms ease-in, transform 500ms ease-in;
  }
  